html , body  {
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
    background:white;
    font-family:courrier;
    font-size:90%;
    color: #aa0000;
}
.container {
    text-align:center;
    height:auto;
    min-height:100%;
    height:100%;
    /* par exemple pour une page centree */
    width:100%;
    margin:0 auto;
}

.pied {
    bottom:0;
    width:100%;
    margin:0;
    height:80px;
    text-align: left;
    clear:both;/* facultatif */
    font-size:16px;
    color: blue;
    text-align: center;
}
tbody {
    text-align: justify;
}
td, th {
    text-align: center;
}
.Libre {
    background-color: green;
}
.Occupe {
    background-color: red;
}

#page {
    width:980px;
    margin: 0 auto;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#header {
    margin-top: 5px;
}


#connexion {
    float:right;
    margin-top:-130px;
}


table, td, th, p {
    font-size: 100%;
}

td, th {
    padding:3px 5px;
}

h1 {
    font-size: 100%;
}

form div div label {
    float: left;
    width: 100px;
    text-align: right;
    cursor: pointer;
}

form div div div label {
    float: none;
    text-align: left;
    margin: 0;
}

form ul {
    list-style: none;
}
form li {
    color:#FF0000;
}

#form_recherche div div label {
    width: auto;
}

ul.menu {
    list-style-type:none;
}

.message {
    color:#090;
}