{% extends '@App/layout.html.twig' %}

{% block title %}L'accueil{% endblock %}

{% block body %}
    <p>BIENVENUE SUR LE SITE DE NOTRE CLINIQUE VÉTÉRINAIRE !
        L’équipe de la clinique vétérinaire des Drs véto1 et Veto2, au 12 de la rue des serpents à Nantes, vous accueille du lundi au vendredi de 8h à 12h30 et de 14h à 19h,
        le samedi de 8h30 à 12h30 pour prendre soin de vos animaux de compagnie : chats, chiens et nouveaux animaux de compagnie (NAC).
        Notre clinique est située juste en face du Parc de la Mitrie, quartier Doulon-Toutes Aides, proche de la gare SNCF et de la ligne de tramway N°1.
        Pour faciliter votre stationnement un parking est à votre disposition. L’entrée de ce parking se trouve rue des Trois Rois, juste derrière la clinique.
        En dehors de nos heures d’ouverture, sur simple appel à la clinique , vous serez mis en relation avec un service d’urgences vétérinaires à domicile (VetoAdom44).</p>
{% endblock %}
